@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

$sombra_general: 3px 5px 4px 1px rgba(0, 0, 0, 0.38);

//paleta de colores
$pri_blue: hsl(203, 100%, 48%);
$sec_blue:#0096f494;
$pri_purp: hsl(279, 45%, 12%);
$sec_purp: #a806d1;
$pri_white: #ffffff;
$pri_yellow:#ffff00;
$caja_opaca:rgba(255, 255, 255, 0.308);

$strong_titulo:#0000;
$titulo: 'Oswald', sans-serif;
$parrafo: 'Quicksand', sans-serif;
$titulo_dancing: 'Dancing Script', cursive;

/*
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(228, 64, 64);
}

//estilos multiples para reutilizar codigo
header,
main,
footer {
    width: 100%;
    position: relative;
}

//CLASES REUTILIZABLES DENTRO DEL MAIN
.width_80 {
    //--mantiene el ancho en 80%
    position: relative;
    width: 80%;
    margin: auto;
}

.top_50 {
    // -- mantiene un  margen de 50px
    margin-top: 50px;
}

.top_100 {
    // -- mantiene un tiop de 100px
    margin-top: 100px;
}

.top_100_head {
    margin-top: calc(100px + 80px);
}

.t_100 {
    top: 100px;
}

.zoom {
    transition: .7s;

    &:hover {
        transform: scale(1.2);
    }
}

//ESTILOS HEADER
.header {
    margin-top: 10px;
    position: fixed;
    z-index: 2;
    top: 0;

    ul {
        // ELimina paddinmargin bootstrap
        margin-bottom: 0;
        padding-left: 0;
    }

    .nav_menu {
        position: relative;
        width: 98%;
        height: 70px;
        margin: auto;
        border-radius: 5px;
        background: $pri_white;
        -webkit-box-shadow: $sombra_general;
        -moz-box-shadow: $sombra_general;
        box-shadow: $sombra_general;
        font-family: $titulo;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        transition: .5s;

        //LOGO
        //ul
        .logo {
            position: relative;
            width: 350px;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            li {
                list-style: none;
            }

            .img_logo {
                position: relative;
                width: 60px;
                height: 60px;
                margin-left: 5px;

                a {
                    display: block;
                    position: relative;
                    background: $pri_purp;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .name_marca {
                width: 150px;
                text-align: center;

                p {
                    margin-bottom: 0;
                    font-family: $parrafo;
                    font-weight: 700;
                    font-size: 20px;
                    text-transform: capitalize;
                    color: $pri_purp;
                }
            }

            //MODO OSCURO 
            .modo_osc {
                width: 90px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;

                .toggle_light{
                    position: absolute;
                    display: block;
                    width: 80px;
                    height: 40px;
                    background: $pri_purp;
                    border-radius: 100px;
                    box-shadow:  0 4px 10px rgba(56, 26, 70, 0.527),
                    inset 0 4px 4px rgba(56, 26, 70, 0.5),
                    inset 0 -4px 4px rgba(101, 32, 133, 0.5);
                    transition: .7s;
                    cursor: pointer;

                    .indicador{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 40px;
                        height: 40px;
                        background: linear-gradient(to bottom,#763794, #381a46);
                        border-radius: 50%;
                        transform: scale(.9);
                        box-shadow: 0 3px 10px #1d0727,
                        inset 0 3px 3px rgba(98, 59, 120, 0.878),
                        inset 0 -2px 2px 2px rgba(100, 61, 120, 0.878);
                    }
                }
                .toggle_light.oscuro{
                    background: #fff;
                    box-shadow: inset 0 4px 10px rgba(56, 26, 70, 0.527),
                    inset 0 4px 4px rgba(158, 60, 204, 0.4),
                    inset 0 -4px 4px rgba(177, 57, 233, 0.5);
                    transition: .5s;

                    .indicador{
                        left: 40px;
                        background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
                        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7),
                            inset 0 3px 3px rgba(255, 255, 255, 0.1),
                            inset 0 -2px 2px rgba(255, 255, 255, .2);
                    }
                }
            }

        }

        .toggle {
            display: none;
        }

        //menu navegacion
        .menu {
            width: calc(100% - 360px);
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            margin-right: 10px;

            li {
                list-style: none;
                margin-left: 2px;

                a {
                    display: flex;
                    justify-content: center;
                    width: 120px;
                    color: $pri_purp;
                    font-family: $titulo;
                    font-size: 18px;
                    font-weight: 400px;
                    text-transform: capitalize;
                    text-decoration: none;
                    border: solid thin $pri_white;
                    border-radius: 4px;
                    padding: 10px;

                    &:hover {
                        background: $pri_blue;
                        color: $pri_white;
                        transition: .9s;
                    }
                }
            }
        }
    }
}

//MAIN
.main {
    position: relative;
    width: 100%;
    height: auto;
    background: $pri_white;

    ul,
    p {
        //Elimina margin y paddin bootstrap
        margin-bottom: 0;
        padding-left: 0;
    }

    // VIDEO BANNER
    .banner_conteiner {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: 0;

        .video_banner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $pri_purp;

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .caja_opaca {
            position: absolute;
            width: 40%;
            height: 100%;
            background: $caja_opaca;
            box-shadow: 10px 0 15px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(10px);
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;
            overflow: hidden;

            h1,
            p {
                display: block;
                width: 90%;
                text-align: left;
                color: $pri_purp;
                margin-bottom: 0;
            }

            h1 {
                margin-top: 100px;
                font-family: $titulo, sans-serif;
                font-size: 5rem;
                font-weight: 600;
                text-transform: capitalize;
                padding-bottom: 10px;
            }

            p {
                font-family: $parrafo, sans-serif;
                font-weight: 500;
                font-size: 18px;
            }

            strong {
                font-weight: 700;
                color: #000000;
            }
        }

        .conteiner_buton {
            position: relative;
            min-height: 100vh;
            background: #22102b54;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            .mini_redes,
            .controls {
                position: absolute;
                display: flex;
                border-radius: 10px;
                overflow: hidden;
                -webkit-box-shadow: $sombra_general;
                -moz-box-shadow: $sombra_general;
                box-shadow: $sombra_general;

                li {
                    list-style: none;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        background: $pri_white;
                        color: $pri_purp;

                        &:hover {
                            background: $pri_blue;
                            color: $pri_white;
                            transition: .7s;
                        }
                    }
                }
            }

            .mini_redes {
                bottom: 15px;
                left: 15px;
                flex-direction: column;
            }

            .controls {
                right: 15px;
                bottom: 15px;
                flex-direction: row;
            }
        }
    }

    //FIN VIDEO BANNER

    .titulo_general {
        //TITULO ANIMADO GENERAL
        position: relative;
        width: 100%;
        height: 70px;
        min-height: 70px;
        background: $pri_purp;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        overflow: hidden;
        -webkit-box-shadow: $sombra_general;
        -moz-box-shadow: $sombra_general;
        box-shadow: $sombra_general;

        &::before {
            content: '';
            position: absolute;
            width: 500px;
            height: 1700%;
            left: 27%;
            background-image: conic-gradient(transparent, transparent, transparent, #a806d1);
            animation: cono_360 5s linear infinite;
            animation-delay: -2s;
        }

        &::after {
            content: '';
            position: absolute;
            width: 500px;
            height: 1700%;
            left: 27%;
            background-image: conic-gradient(transparent, transparent, transparent, $pri_blue);
            animation: cono_360 5s linear infinite;
        }

        .cont_anima {
            position: absolute;
            inset: 4px;
            border-radius: 4px;
            background: $pri_white;
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            z-index: 1;

            h2 {
                font-family: $titulo, sans-serif;
                text-transform: uppercase;
                color: $pri_purp;
                margin: 0;
            }

            .mid_h2 {
                text-align: center;
            }

            a {
                text-decoration: none;
                color: $pri_purp;
                font-family: $titulo, sans-serif;
                text-transform: uppercase;
                text-align: center;
                font-weight: 400;
                border: 1px solid $pri_blue;
                padding: 5px 10px;
                border-radius: 3px;
                transition: .7s;

                &:hover {
                    border: 1px solid $pri_purp;
                    color: $pri_white;
                    background: $pri_blue;
                }
            }
        }

        .mid_flex {
            justify-content: center;
            padding: 0 0;
        }

        @keyframes cono_360 {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

    }

    //TITULO ANIMADO GENERAL


    // SECCION NOTICIAS
    .noticias {
        height: auto;

        .noticias_grid {
            width: 100%;
            height: 800px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(8, 1fr);
            gap: 10px 10px;


            .col1_1 {
                grid-area: 1/1/5/5;
            }

            .col1_2 {
                grid-area: 5/1/9/5;
            }

            .col2 {
                grid-area: 1/5/9/9;

            }

            .col3_1 {
                grid-area: 1/9/5/13;
            }

            .col3_2 {
                grid-area: 5/9/9/13;
            }

            article {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                border: solid 1px #333;
                -webkit-box-shadow: $sombra_general;
                -moz-box-shadow: $sombra_general;
                box-shadow: $sombra_general;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .subtitulo_noti {
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    width: 98%;
                    height: 40%;
                    margin-left: 1%;
                    background: $sec_blue;
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border-radius: 4px;
                    //columna, contendra los items
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 5px;
                    overflow: hidden;

                    a,
                    p {
                        text-decoration: none;
                        color: $pri_white;
                    }

                    a {
                        display: block;
                        font-family: $titulo, sans-serif;
                        font-weight: 400;
                        font-size: inherit;
                        

                        &:hover {
                            color: $pri_purp;
                            transition: .7s;
                        }
                    }

                    p {
                        font-family: $parrafo, sans-serif;
                        font-weight: 400;
                        color: $pri_purp;
                    }
                }
            }
        }
    }

    // SECCION PROGRAMAS
    .programas {
        position: relative;
        height: auto;
        overflow: auto;

        .linea_tiempo {
            position: relative;
            width: 100%;
            height: auto;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 6px;
                height: 100%;
                background: $pri_blue;
                left: 50%;
                margin-left: -3px;
            }

            .caja {
                padding: 10px 40px;
                position: relative;
                width: 50%;

                .content_time {
                    position: relative;
                    background: $sec_blue;
                    padding: 20px 30px;
                    border-radius: 5px;
                    -webkit-box-shadow: $sombra_general;
                    -moz-box-shadow: $sombra_general;
                    box-shadow: $sombra_general;
                    display: flex;
                    align-content: flex-start;
                    justify-content: space-between;
                    align-items: center;

                    .img_prog{
                        width: 160px;
                        height: 200px;
                        border-radius: 5px;
                        object-fit: cover;
                        background:$pri_white;
                        padding: 5px;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 3px;
                        }
                    }

                    .tit_targ_prog{
                        width: calc(100% - 170px);
                        h2, p{
                            display: block;
                            width: 100%;
                        }
                        h3 {
                            color:$pri_purp;
                        }
                
                        p {
                            color: $pri_purp;
                        }

                    }    
                }
    
            }

            .caja.left {
                left: 0;
            }

            .caja.right {
                left: 50%;
            }

            .left {
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: $pri_blue;
                    top: 15px;
                    right: -10px;
                    border-radius: 50%;
                    border: 10px solid $pri_purp;
                    z-index: 1;
                }

                &::before {
                    content: '';
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 22px;
                    right: 30px;
                    background-color: none;
                    border: 10px solid $sec_blue;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent $sec_blue;
                }
            }

            .right {
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: $pri_blue;
                    top: 15px;
                    left: -10px;
                    border-radius: 50%;
                    border: 10px solid $pri_purp;
                }

                &::before {
                    content: '';
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 22px;
                    left: 30px;
                    background-color: none;
                    border: 10px solid $sec_blue;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent $sec_blue transparent transparent;
                }
            }

        }
    }
}

//ESTILOS PIE
.footer {
    position: relative;
    height: auto;
    width: 100%;

    .footer_head {
        //head footer
        position: relative;
        width: 100%;
        height: 120px;
        background: $pri_purp;

        .footer_head_cuerpo {
            position: relative;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: flex-start;

            a {
                position: relative;
                display: block;
                width: 120px;
                height: 120px;

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }

            ul.redes_pie {
                position: relative;
                display: block;
                width: calc(100% - 120px);
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                list-style: none;

                li {
                    position: relative;
                    height: 70px;
                    width: 70px;
                    list-style: none;

                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        color: $pri_white;
                        border: solid thin $pri_purp;
                        display: grid;
                        place-content: center;
                        transition: .5s;

                        ion-icon {
                            font-size: 30px;
                        }

                        &:hover {
                            color: $pri_blue;
                            border: solid thin $pri_blue;
                        }
                    }
                }
            }
        }
    }

    .footer_main {
        position: relative;
        width: 100%;
        height: auto;
        background: $pri_blue;

        .container {
            width: 100%;
            height: 100%;

            .footer_main_cuerpo {
                position: relative;
                width: 100%;
                height: auto;

                .columna_1 {
                    display: flex;
                    height: auto;

                    .logo_2 {
                        width: 70%;
                        height: auto;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                        }
                    }

                    .links_2 {
                        width: 30%;
                        height: 100%;
                        list-style: none;
                        padding: 10px;

                        li {
                            width: 100%;
                            margin: 10px 0;

                            a {
                                display: block;
                                width: 100%;
                                font-family: $titulo, sans-serif;
                                font-weight: 500;
                                font-size: 20px;
                                color: $pri_white;
                                text-decoration: none;
                                padding: 5px;
                                text-transform: capitalize;
                                transition: .7s;

                                &:hover {
                                    color: $pri_yellow;
                                }
                            }
                        }
                    }

                }

                .columna_3 {
                    display: flex;
                    height: auto;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: center;

                    h2 {
                        width: 90%;
                        font-family: $parrafo, sans-serif;
                        text-transform: capitalize;
                        text-align: center;
                        color: $pri_white;
                        margin-top: 20px;
                    }

                    form {
                        position: relative;
                        width: 90%;
                        padding: 5px;
                        margin: 10px auto;

                        .content_input {
                            position: relative;
                            width: 100%;
                            height: auto;
                            margin: 0;
                            padding: 0;

                            .label {
                                position: absolute;
                                font-family: $parrafo, sans-serif;
                                font-weight: 700;
                                font-size: 18px;
                                text-transform: capitalize;
                                left: 20px;
                                top: 17px;
                                transition: .7s;
                                padding: 0 2px;
                                z-index: 1;
                                color: #b3b3b3;

                                &::before {
                                    position: absolute;
                                    content: '';
                                    height: 5px;
                                    background: $pri_purp;
                                    left: 0;
                                    top: 10px;
                                    width: 100%;
                                    z-index: -1;
                                }
                            }

                            .text_input {
                                width: 100%;
                                margin: 5px 0;
                                padding: 10px 10px;
                                border: 3px solid $pri_purp;
                                background: $pri_purp;
                                border-radius: 4px;
                                font-size: 18px;
                                outline: none;
                                transition: .7s;
                                color: $pri_white;

                                &:focus {
                                    border: 3px solid $pri_yellow;
                                }

                                &:focus+.label {
                                    top: -5px;
                                    color: $pri_yellow;
                                    font-size: 18px;
                                }

                                &::placeholder {
                                    font-size: 18px;
                                    opacity: 0;
                                }

                                &:focus::placeholder {
                                    opacity: 1;
                                }
                            }
                        }

                        .input_sub {
                            width: 60%;
                            margin: 5px 0;
                            padding: 10px 10px;
                            border: 3px solid $pri_purp;
                            background: $pri_purp;
                            border-radius: 4px;
                            font-size: 15px;
                            outline: none;
                            transition: .5s;
                            color: $pri_white;
                            transition: .7s;

                            &:hover {
                                border: 3px solid $pri_yellow;
                                color: $pri_yellow;
                            }

                            &:focus {
                                border: 3px solid $pri_yellow;
                                color: $pri_purp;
                                background: $pri_yellow;
                            }
                        }
                    }
                }

                .columna_2 {
                    height: 50%;
                    display: flex;

                    .contact_direct {
                        display: block;
                        width: 100%;

                        li {
                            display: block;
                            width: 100%;
                            list-style: none;
                            margin: 2px 0;

                            a {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-items: flex-start;
                                justify-content: flex-start;
                                align-items: center;
                                /*font-family: 'Oswald', sans-serif;*/
                                font-family: $parrafo, sans-serif;
                                text-decoration: none;
                                font-weight: 500;
                                font-size: 17px;
                                padding: 10px;
                                color: $pri_white;

                                ion-icon {
                                    padding: 0 10px 0 15px;
                                    font-size: 23px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .footer_bot {
        height: 100px;

        .footer_bot_cuerpo {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;

            p {
                display: block;
                font-family: $parrafo, sans-serif;
                font-weight: 500;
                color: $pri_purp;
                font-size: 18px;
                text-align: center;
            }
        }
    }
}

@import './sections/_galeria.scss';
@import './sections/_noticias.scss';
@import './sections/_contacto.scss';
@import './sections/_programas.scss';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
@media screen and (max-width: $xl){

//ESTILOS HEADER
.header {
    .nav_menu {        //menu navegacion
        .menu {
            width: calc(100% - 350px);

            li {
                margin-left: 1px;

                a {
                    width: 99px;
                    font-weight: 300px;

                }
            }
        }
    }
}
.main {
    
    .programas {
        .linea_tiempo {
            &::before {
                left: 40px;
                margin-left: -1px;
            }

            .caja {
                padding: 10px;
                position: relative;
                width: 80%;

                .content_time {
                    position: relative;
                    background: $sec_blue;
                    padding: 20px 30px;
                    border-radius: 5px;
                    -webkit-box-shadow: $sombra_general;
                    -moz-box-shadow: $sombra_general;
                    box-shadow: $sombra_general;
                    display: flex;
    
                    .img_prog{
                        width: 160px;
                        height: 200px;
                        border-radius: 5px;
                        object-fit: cover;
                        background:#fff;
                        padding: 5px;
                        overflow: hidden;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 3px;
                        }
                    }
    
                    .tit_targ_prog{
                        width: calc(100% - 180px);
                        h2, p{
                            display: block;
                            width: 100%;
                        }
                    }    
                }
            }

            .caja.left,
            .caja.right {
                left: 70px;
            }

            .left::after,
            .right::after {
                top: 15px;
                left: -38px;
            }

            .left::before,
            .right::before {
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                top: 15px;
                left: -2px;
                background-color: none;
                border: 10px solid $sec_blue;
                border-width: 15px 15px 15px 0;
                border-color: transparent $sec_blue transparent $sec_blue;
                z-index: 1;
            }
        }
    }
}


}

@media screen and (max-width: $lg) {
    .width_80 {
        width: 90%;
    }

    .header {
        .nav_menu.active {
            height: 450px;
            transition: .7s;

            .toggle::before {
                transform: translateY(0) rotate(45deg);
                box-shadow: none;
                transition: .5s;
            }

            .toggle::after {
                transform: translateY(0) rotate(-45deg);
                transition: .7s;
            }
        }

        .nav_menu {
            .logo {
                position: relative;
                width: calc(100% - 70px);

                li {
                    margin-left: 0;

                    a {
                        width: 100%;
                        font-size: 20px;
                    }
                }
            }

            .toggle {
                position: relative;
                width: 60px;
                height: 60px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s ease-in-out;
                margin-top: 5px;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: $pri_purp;
                }

                &::before {
                    transform: translateY(-10px);
                    box-shadow: 0 10px #381A46;
                    transition: .5s;
                }

                &::after {
                    transform: translateY(10px);
                    transition: .5s;
                }
            }

            .menu {
                position: absolute;
                display: block;
                width: 100%;
                height: calc(100% - 70px);
                margin-top: 70px;
                padding: 10px 20px;
                border-top: thin solid #371c45d7;

                li {
                    margin: 10px auto;

                    a {
                        width: 90%;
                        margin: auto;
                        transition: .7s;
                    }
                }
            }
        }

    }

    .main {
        .banner_conteiner {
            position: relative;
            height: 100vh;

            .caja_opaca {
                width: 90%;
                height: auto;
                margin: 11% 5%;
                flex-direction: column;
                align-content: flex-start;
                justify-content: center;
                align-items: center;
                padding: 30px;

                h1,
                p {
                    text-align: left;
                    color: $pri_purp;
                    margin: 5px 0;
                    overflow: hidden;
                }

                h1 {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $md) {
    .width_80 {
        width: 98%;
    }

    .main {
        .banner_conteiner {
            .caja_opaca {
                width: 98%;
                margin: 40% 1%;

                h1,
                p {
                    width: 98%;
                }

                h1 {
                    font-size: 4em;
                    line-height: 1.5em;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        //Noticias
        .noticias {
            .noticias_grid {


                .col2 {
                    grid-area: 1/1/5/13;
                }

                .col1_1 {
                    grid-area: 5/1/7/7;
                }

                .col1_2 {
                    grid-area: 5/7/7/13;
                }

                .col3_1 {
                    grid-area: 7/1/9/7;
                }

                .col3_2 {
                    grid-area: 7/7/9/13;
                }

                article {

                    img {

                    }
    
                    .subtitulo_noti {
                        width: 99%;
                        height: 50%;
                        margin-left: .5%;
    
                        a,
                        p {
                            text-decoration: none;
                            color: $pri_white;
                        }
    
                        a {
                            font-weight: 400;
                            font-size: inherit;
                            font-size: 23px;
                            
    
                            &:hover {
                                color: $pri_purp;
                                transition: .7s;
                            }
                        }
    
                        p {
                            font-weight: 400;
                            font-size: 18px;
                        }
                    }
                }
                //--- fin ---

            }
        }

        .programas {
            .linea_tiempo {
                &::before {
                    left: 40px;
                    margin-left: -1px;
                }

                .caja {
                    padding: 10px;
                    position: relative;
                    width: 80%;
                }

                .caja.left,
                .caja.right {
                    left: 70px;
                }

                .left::after,
                .right::after {
                    top: 15px;
                    left: -38px;
                }

                .left::before,
                .right::before {
                    content: '';
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 15px;
                    left: -2px;
                    background-color: none;
                    border: 10px solid $sec_blue;
                    border-width: 15px 15px 15px 0;
                    border-color: transparent $sec_blue transparent $sec_blue;
                    z-index: 1;
                }

            }
        }
    }

    .footer {
        .footer_head {
            //head footer
            height: 190px;

            .footer_head_cuerpo {
                position: relative;
                height: 100%;
                align-content: center;
                justify-content: center;
                align-items: center;

                a {

                    width: 80px;
                    height: 80px;
                }

                ul.redes_pie {

                    width: calc(100% - 80px);
                    height: 100%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    padding-left: 0;
                    margin-bottom: 0;

                    li {
                        position: relative;
                        height: 60px;
                        width: 60px;
                        list-style: none;
                    }
                }

            }
        }


        .footer_main {
            .container {
                --bs-gutter-x: 0; 

                .footer_main_cuerpo {
                        --bs-gutter-x: 0; 
                    .columna_1 {

                        .logo_2 {
                            width: 60%;
                            height: 100%;
                            align-self: center;
                            justify-self: center;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: scale-down;
                            }
                        }

                        .links_2 {
                            width: 40%;
                            padding: 5px;

                            li {
                                a {
                                    font-weight: 400;
                                    font-size: 18px;
                                    color: $pri_purp;
                                    overflow: hidden;
                                }
                            }
                        }
                    }

                    .columna_3 {

                        h2 {
                            font-size: 19px;
                        }

                        form {
                            .content_input {
                                .label {
                                    font-weight: 600;
                                    font-size: 15px;
                                    text-transform: capitalize;
                                    left: 20px;
                                    top: 18px;
                                    padding: 0 1px;
                                }

                                .text_input {
                                    &:focus+.label {
                                        font-size: 15px;
                                    }

                                    &::placeholder {
                                        font-size: 15px;
                                    }
                                }
                            }

                            .input_sub {
                                padding: 10px 10px;
                                font-size: 12px;
                            }

                        }
                    }

                    .columna_2 {
                        display: block;
                        padding: 10px;

                        .contact_direct {
                            display: block;
                            width: 100%;
                            height: auto;
                            margin: 0;
                            padding: 0;

                            li {
                                width: 90%;
                                height: auto;

                                a {

                                    font-size: 15px;
                                    padding: 10px;
                                    color: $pri_white;

                                    ion-icon {
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }

        .footer_bot {
            .footer_bot_cuerpo {
                p {
                    font-size: 14px;
                }
            }
        }

    }
}

@media screen and (max-width: $sm) {
    .width_80 {
        width: 100%;
    }
    .main {
        .banner_conteiner {
            .caja_opaca {
                width: 98%;
                margin: 30% 1%;

                h1,
                p {
                    width: 98%;
                }

                h1 {
                    font-size: 3.5em;
                    line-height: 1.5em;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        //Noticias
        .noticias {
            .noticias_grid {
                article {
                    .subtitulo_noti {
                        width: 99%;
                        height: 50%;
                        margin-left: .5%;
    
                        a {
                            font-weight: 400;
                            font-size: inherit;
                            font-size: 20px;
                        }
    
                        p {
                            font-weight: 300;
                            font-size: 15px;
                        }
                    }
                }
                //--- fin ---

            }
        }

        .programas {
            .linea_tiempo {
                &::before {
                    left: 10px;
                    margin-left: -1px;
                }
                .caja {
                    padding: 10px;
                    position: relative;
                    width: 80%;
    
                    .content_time {
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
        
                        .img_prog{
                            margin-top: 20px;
        
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 3px;
                            }
                        }
        
                        .tit_targ_prog{
                            width: 100%;

                            border-radius: 7px;
                            h3{
                                color:$pri_purp;
                                font-size: 19px;
                            }
                            p{
                                font-size: 15px;
                                color: $pri_purp;
                            }
                        }    
                    }
                }

                .caja.left {
                    left: 40px;
                }
    
                .caja.right {
                    left: 40px;
                }

            }
        }
    }
}

@import './media_querys/_noticias.scss';
@import './media_querys/galeria.scss';
@import './media_querys/_programas.scss';

@import url('../img/icon/astro101.png');

