@media screen and (max-width: $lg) {
    .nosotros_us {
        .caja_nosotros {
            width: 100%;
            height: auto;

            section {
                &.derecha {
                    flex-direction: row;
                }

                &.izquierda {
                    flex-direction: row-reverse;
                }

                div.somos_cont {
                    width: 60%;
                }

            }
        }

    }
}
@media screen and (max-width: $md){
    .nosotros_us {
        .caja_nosotros {
            width: 100%;
            height: auto;

            section {
                width: 100%;
                height: auto;
                flex-direction: column;
                flex-wrap: wrap;
                text-align: center;
                align-items: center;

                &.derecha {
                    flex-direction: row;
                }

                &.izquierda {
                    flex-direction: row-reverse;
                }

                div.somos_cont {
                    width: 100%;
                }
                img{
                    margin-top: 10px;
                    width: 100%;
                    height: 250px;
                }
            }
        }

    }
}

@media screen and (max-width: $sm){

}