/*
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
*/
@media screen and (max-width: $xl) {

    .programas_carou {
        .caja_carrusel {
            .carousel {
                .carousel-inner {
                    @include caja_relative(100%, 450px, 0, 0);

                    .carousel-item {
                        height: 100%;
                        width: 100%;

                        .row {
                            --bs-gutter-x: 0;

                            .card {
                                @include caja_relative(250px, 350px, auto, 5px);

                                .card-body {
                                    a {
                                        h2 {
                                            font-size: 23px;
                                        }
                                    }

                                    ul {
                                        li {
                                            p {
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width: $lg) {
    .programas_carou {
        .caja_carrusel {
            .carousel {
                .carousel-inner {
                    @include caja_relative(100%, 850px, 0, 0);

                    .carousel-item {
                        .row {
                            --bs-gutter-x: 0;

                            .card {
                                @include caja_relative(250px, 350px, auto, 5px);
                                @include caja_flex(space-around, center, center);     

                                .card-body {
                                    @include caja_abs_top(96%, 45%, 8px ,b);
                                    
                                    a {
                                        h2 {
                                            font-size: 23px;
                                        }
                                    }

                                    ul {
                                        list-style: none;

                                        li {
                                            p {
                                                font-size: 17px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}


@media screen and (max-width: $md) {
    .contenedor_base_prog{
        .horarios_base {
            @include caja_relative(100%, auto ,auto, 5px);
            margin-top: 50px;
            @include caja_flex(center, center, center, column, wrap );

            .calendario_dia {
                @include caja_relative(100%, auto ,20px auto);
                @include caja_flex(center,flex-start,flex-start);
                overflow: hidden;
                box-sizing: border-box;

                .cont_izq_dia {
                    @include caja_relative(100%, 230px ,auto);
                    border-radius: 10px 10px 0 0;

                    .header_calend {
                        @include caja_relative(100%, 70px ,0, 0);
                    }

                    .cuerpo_calend {
                        @include caja_relative(100%, 150px ,0, 0);

                        h1 {
                            font-family: $titulo;
                        }

                        h2 {
                            font-family: $parrafo;

                        }
                    }
                }

                .dias_semana {
                    @include caja_relative(100%, 100%, auto, auto);
                    border-radius: 0 0 10px 10px;
                    min-width: 570px;

                    .accordion-body {
                        gap: 5px 5px;
                        padding: 2px;
                        border-radius: 0 0 10px 10px;

                        .titulo_cal {
                            padding: 5px 10px 0 0;
                            h2 {
                                font-size: 25px;
                            }
                        }
                    }

                }
            }
        }
    }
    .programas_carou {
        .caja_carrusel {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .row {
                            --bs-gutter-x: 0;

                            .card {
                                .card-body {
                                    a {
                                        h2 {
                                            font-size: 23px;
                                        }
                                    }

                                    ul {
                                        list-style: none;
                                        li {
                                            p {
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $sm) {
    .contenedor_base_prog{

        .horarios_base {
            @include caja_relative(100%, auto ,auto, 5px);
            margin-top: 50px;
            @include caja_flex(center, center, center, column, wrap );

            .calendario_dia {
                @include caja_relative(100%, auto ,20px auto);
                @include caja_flex(center,flex-start,flex-start);

                .cont_izq_dia {
                    @include caja_relative(180%, 230px ,auto);
                    border-radius: 10px 10px 10px 10px;

                    .header_calend {
                        @include caja_relative(100%, 70px ,0, 0);
                    }

                    .cuerpo_calend {
                        @include caja_relative(100%, 150px ,0, 0);
                    }
                }

                .dias_semana {
                    @include caja_relative(100%, 100%, auto, auto, mw ,0);
                    border-radius: 0 0 10px 10px;

                    .accordion-body {
                        gap: 5px 5px;
                        padding: 2px;

                        .titulo_cal {
                            padding: 5px 10px 0 0;
                            h2 {
                                font-size: 25px;
                            }
                        }
                    }

                }
            }
        }
    }
    .programas_carou {
        .caja_carrusel {
            .carousel {
                .carousel-inner {
                    @include caja_relative(100%, 1200px, 0, 0);

                    .carousel-item {
                        .row {
                            --bs-gutter-x: 0;

                            .card {
                                @include caja_relative(250px, 350px, auto, 5px);
                            }
                        }
                    }
                }
            }

        }
    }
}