@function theme_dark(){

    $sombra_general: (3px 5px 4px 1px hwb(0 0% 100% / 0.38));

        //sombra boton_sombra
        $s_night_1: (0 4px 10px rgba(56, 26, 70, 0.527));
        $s_night_2: (inset 0 4px 4px rgba(129, 72, 153, 0.5));
        $s_night_3: (inset 0 -4px 4px rgba(101, 32, 133, 0.5));
        
        //backgrounds
        $bg_header:(linear-gradient(to right, #0f0c29, #302b63, #24243e));
        $bg_a:#23112c;
        $color_a:#ffff;
        $color_p:#ffff;
        $stro:#e3e3e3;
        $color_a_w:#23112c;
        
        //boton niight
        $bg_hover_1:rgb(0, 151, 245);
        $col_hover_1: #fff;
        $bord_hover_1:#23112c;
        $hover_yell: #ffff00;
        
        //titulo general
        $bg_principal:#fff;
        $bg_secundario:#23112c;
        $bord_titulo:#23112c;
        $bord_subt:rgb(0, 151, 245);
        
        //BANNER
        $caja_opaca:rgba(255, 255, 255, 0.308);
        
        //NOTICIAS
        $caja_cont_noti:#0096f494;
        
        //PROGRAMA
        $linea_tiempo:rgb(0, 151, 245);
        
        //FOOTER
        $fo_h:#23112c;
        $fo_m:rgb(0, 151, 245);
        $fo_h2: #fff;
        
        //paleta de colores
        $pri_blue: rgb(0, 151, 245);
        $pri_purp: #23112c;
        $pri_white: #ffffff;
        $sec_blue:#0096f494;
        $sec_purp: #a806d1;
        
        $pri_yellow:#ffff00;
        $caja_opaca:rgba(255, 255, 255, 0.308);
        
        $strong_titulo:#0000;
        $titulo: ('Oswald', sans-serif);
        $parrafo: ('Quicksand', sans-serif);
        $titulo_dancing: ('Dancing Script', cursive);

}
:root{
--sombra_general:$sombra_general;

//backgrounds
--bg_head: $bg_header;
--bg_a: $bg_a;
--color_a: $color_a;
--color_p: $color_p;
--color_strong: $stro;

--color_a_white:$color_a_w;

//boton niight
--bg_hover_a: $bg_hover_1;
--color_hover_a: $col_hover_1;
--color_hover_a:$bord_hover_1;
--color_hover_yell:$hover_yell;

//titulo general
$bg_principal:#fff;
$bg_secundario:#23112c;
$bord_titulo:#23112c;
$bord_subt:rgb(0, 151, 245);

//BANNER
$caja_opaca:rgba(255, 255, 255, 0.308);

//NOTICIAS
$caja_cont_noti:#0096f494;

//PROGRAMA
$linea_tiempo:rgb(0, 151, 245);

//FOOTER
$fo_h:#23112c;
$fo_m:rgb(0, 151, 245);
$fo_h2: #fff;

//paleta de colores
$pri_blue: rgb(0, 151, 245);
$pri_purp: #23112c;
$pri_white: #ffffff;
$sec_blue:#0096f494;
$sec_purp: #a806d1;

$strong_titulo:#0000;
}


