//este es un mapa de colores
$colors_redes:( //habemus mapa de prueba
    telegram: #51aff8,
	facebook: #3d7be7,
	linkedin: #0076b8,
    instagram: #d6249f,
	youtube: #ce1312,
    whatsapp:#25D366,
    twitch:  #6441a5,
)