// para las imagenes que usan cover y estan dentro de una caja contenedora
@mixin img_100($widht, $height){
    position: relative;
    width: $widht;
    height: $height;
    object-fit: cover;
}

//para las cajas contenedoras dentro de una reolativa.. como en el caso de las targetas de los programas.
@mixin caja_abs_top($a, $b, $c ,$d){
    position: absolute;
    width: $a;
    height: $b;

    @if $d == t {
        top: $c;
    } @else if $d == b{
        bottom: $c;
    } 
} 

//mixin sin parametros ya que nos faltaba uno de este tipo 
@mixin ancho_general() {
    width: 80%;
    
    @media screen and (max-width: $xl){
        width: 90%;
    }
    @media screen and (max-width: $lg){
        width: 96%;
    }
    @media screen and (max-width: $md){
        width: 98%;
    }
    @media screen and (max-width: $sm){
        width: 94%;
    }
}

@mixin sombra_cajas() {
    -webkit-box-shadow: var(--sombra_general);
    -moz-box-shadow: var(--sombra_general);
    box-shadow: var(--sombra_general);
}

@mixin resaltado_strong() {
    font-weight: 700;
    color: var(--color_strong);
}

@mixin textos_principales() {
    h1,h2 {
        font-family: $titulo;
        font-size: 3rem;
        font-weight: 500;
        color: var(--color_p);
    }

            
    p {
        font-family: $parrafo;
        font-size: 1.2rem;
        color: var(--color_p);
            
        strong {
            @include resaltado_strong();
        }
    }

    @media screen and (max-width: $xl) {
        h1 {
            font-size: 2.5rem;
        }
        
        p {
            font-size: 1.2rem;
        }
    }
    
    @media screen and (max-width: $lg){
        h1 {
            font-size: 2rem;
        }
        
        p {
            font-size: 1rem;
        }
    }
    @media screen and (max-width: $md){
        width: 98%;
    }
    @media screen and (max-width: $sm){
        width: 94%;
    }
}

