//LIGHT
//sombra cajas
$sombra_general: (3px 5px 4px 1px hwb(0 0% 100% / 0.38));

//backgrounds
$bg_header:#ffffff;
$bg_a:#ffffff;
$color_a:#23112c;
$color_p:#23112c;
$stro:#000000;

$color_a_w:#fff;

//boton niight
$bg_hover_1:rgb(0, 151, 245);
$col_hover_1: #fff;
$bord_hover_1:#23112c;
$hover_yell: #ffff00;

//titulo general
$bg_principal:#fff;
$bg_secundario:#23112c;
$bord_titulo:#23112c;
$bord_subt:rgb(0, 151, 245);

//BANNER
$caja_opaca:rgba(255, 255, 255, 0.308);

//NOTICIAS
$caja_cont_noti:#0096f494;

//PROGRAMA
$linea_tiempo:rgb(0, 151, 245);

//FOOTER
$fo_h:#23112c;
$fo_m:rgb(0, 151, 245);
$fo_h2: #fff;

//paleta de colores
$pri_blue: rgb(0, 151, 245);
$pri_purp: #23112c;
$pri_white: #ffffff;
$sec_blue:#0096f494;
$sec_purp: #a806d1;

$strong_titulo:#0000;

//fuentes
$titulo: ('Oswald', sans-serif);
$parrafo: ('Quicksand', sans-serif);
$titulo_dancing: ('Dancing Script', cursive);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
