//sombra cajas
$sombra_general: (3px 5px 4px 1px hwb(0 0% 100% / 0.38));

//sombra boton_sombra
$s_night_1: (0 4px 10px rgba(56, 26, 70, 0.527));
$s_night_2: (inset 0 4px 4px rgba(129, 72, 153, 0.5));
$s_night_3: (inset 0 -4px 4px rgba(101, 32, 133, 0.5));

//paleta de colores
$pri_blue: hsl(203, 100%, 48%);
$sec_blue:#0096f494;
$pri_purp: hsl(279, 45%, 12%);
$sec_purp: #a806d1;
$pri_white: #ffffff;
$pri_yellow:#ffff00;
$caja_opaca:rgba(255, 255, 255, 0.308);

$strong_titulo:#0000;
$titulo: ('Oswald', sans-serif);
$parrafo: ('Quicksand', sans-serif);
$titulo_dancing: ('Dancing Script', cursive);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;