//MAIN
.main {
    position: relative;
    width: 100%;
    height: auto;
    background: var(--bg_principal);

    ul,
    p {
        //Elimina margin y paddin bootstrap
        margin-bottom: 0;
        padding-left: 0;
    }

    // VIDEO BANNER
    .banner_conteiner {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: 0;

        .video_banner {
            @include caja_abs_top(100%, 100%, 0 ,t);
            left: 0;

            video {
                @extend .video_banner;
                object-fit: cover;
            }
        }

        .caja_opaca {
            @include caja_abs_top(40%, 100%, 0, t);
            background: var(--caja_opaca);
            box-shadow: 10px -2px 0px 2px var(--sombra_cajaopaca);
            backdrop-filter: blur(10px);
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;
            overflow: hidden;        

            h1,
            p {
                display: block;
                width: 90%;
                text-align: left;
                color: var(--color_p);
                margin-bottom: 0;
            }

            h1 {
                margin-top: 100px;
                font-family: $titulo;
                font-size: 5rem;
                font-weight: 600;
                text-transform: capitalize;
                padding-bottom: 10px;
            }

            p {
                font-family: $parrafo;
                font-weight: 500;
                font-size: 18px;
            }

            strong {
                font-weight: 700;
                color: var(--color_strong);
            }

        }

        .conteiner_buton {
            position: relative;
            width: 100%;
            min-height: 100%;
            background: var(--filtro_video);

            display: flex;
            justify-content: flex-start;
            align-items: center;

            .mini_redes,
            .controls {
                position: absolute;
                display: flex;
                border-radius: 10px;
                overflow: hidden;
                @include sombra_cajas();

                li {
                    list-style: none;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        background: var(--bg_a);
                        transition: .7s;

                        //usaremos un map 
                        @each $name, $color in $colors_redes {
                            ion-icon.#{$name}{
                                color: $color;
                            }
                        }

                        &:hover {
                            background: var(--bg_hover_a);
                            
                            ion-icon{
                                color:var(--color_hover_a);
                            }
                        }
                    }
                }
            }

            .mini_redes {
                bottom: 15px;
                left: 15px;
                flex-direction: column;
            }

            .controls {
                right: 15px;
                bottom: 15px;
                flex-direction: row;
            }
        }
    }

    //FIN VIDEO BANNER

    .titulo_general {
        //TITULO ANIMADO GENERAL
        position: relative;
        width: 100%;
        height: 70px;
        min-height: 70px;
        background: var(--borde_titulo);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        overflow: hidden;
        @include sombra_cajas();

        &::before {
            content: '';
            position: absolute;
            width: 500px;
            height: 1700%;
            left: 27%;
            background-image: conic-gradient(transparent, transparent, transparent, var(--sec_purp));
            animation: cono_360 5s linear infinite;
            animation-delay: -2s;
        }

        &::after {
            content: '';
            position: absolute;
            width: 500px;
            height: 1700%;
            left: 27%;
            background-image: conic-gradient(transparent, transparent, transparent, var(--pri_blue));
            animation: cono_360 5s linear infinite;
        }

        .cont_anima {
            position: absolute;
            inset: 4px;
            border-radius: 4px;
            background: var(--bg_principal);
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            z-index: 1;

            h2 {
                font-family: $titulo, sans-serif;
                text-transform: uppercase;
                color: var(--color_a);
                margin: 0;
            }

            .mid_h2 {
                text-align: center;
            }

            a {
                text-decoration: none;
                color: var(--color_a);
                font-family: $titulo;
                text-transform: uppercase;
                text-align: center;
                font-weight: 400;
                border: 2px solid var(--borde_titulo);
                padding: 5px 10px;
                border-radius: 3px;
                transition: .7s;

                &:hover {
                    border: 2px solid var(--bord_hover);
                    color: var(--color_hover_a);
                    background: var(--bg_hover_a);
                }
            }
        }

        .mid_flex {
            justify-content: center;
            padding: 0 0;
        }

        @keyframes cono_360 {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

    }

    //TITULO ANIMADO GENERAL


    // SECCION NOTICIAS
    .noticias {
        height: auto;

        .noticias_grid {
            width: 100%;
            height: 800px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(8, 1fr);
            gap: 15px 15px;


            .col1_1 {
                grid-area: 1/1/5/5;
            }

            .col1_2 {
                grid-area: 5/1/9/5;
            }

            .col2 {
                grid-area: 1/5/9/9;

            }

            .col3_1 {
                grid-area: 1/9/5/13;
            }

            .col3_2 {
                grid-area: 5/9/9/13;
            }

            article {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                border: solid 1px var(--borde_caja_noticia);
                @include sombra_cajas();
                overflow: hidden;
                display: flex;
                justify-content: center;
                overflow: hidden;

                img {
                    @include img_100(100%, 100%);
                }

                .subtitulo_noti {
                    @include caja_abs_top(98%, 100%, 75%, t);
                    background: var(--caja_cont_noti);
                    box-shadow: 0 0 0 5px var(--sombra_cajaopaca);
                    backdrop-filter: blur(0px);
                    border-radius: 0 0 4px 4px;
                    //columna, contendra los items
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 5px;
                    overflow: hidden;
                    transition: .9s;

                    &:hover{
                        @include caja_abs_top(98%, 100%, 50%, t);
                        transition: .9s;
                    }

                    a,
                    p {
                        text-decoration: none;
                    }

                    a {
                        display: block;
                        font-family: $titulo;
                        font-weight: 400;
                        font-size: inherit;
                        color: var(--bg_a);


                        &:hover {
                            color: var(--color_a);
                            transition: .7s;
                        }
                    }

                    p {
                        font-family:var(--parrafo);
                        font-weight: 400;
                        color: var(--color_p);
                    }
                }
            }
        }
    }

    // SECCION PROGRAMAS
    .programas {
        position: relative;
        height: auto;
        overflow: auto;

        .linea_tiempo {
            position: relative;
            width: 100%;
            height: auto;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 6px;
                height: 100%;
                background: var(--linea_tiempo);
                left: 50%;
                margin-left: -3px;
            }

            .caja {
                padding: 10px 40px;
                position: relative;
                width: 50%;

                .content_time {
                    position: relative;
                    background: var(--caja_cont_noti);
                    padding: 20px 30px;
                    border-radius: 5px;
                    @include sombra_cajas();
                    display: flex;
                    align-content: flex-start;
                    justify-content: space-between;
                    align-items: center;

                    .img_prog {
                        width: 160px;
                        height: 200px;
                        border-radius: 5px;
                        object-fit: cover;
                        background: var(--bg_principal);
                        padding: 5px;
                        overflow: hidden;

                        img {
                            @include img_100(100%, 100%);
                        }
                    }

                    .tit_targ_prog {
                        width: calc(100% - 170px);

                        h2,
                        p {
                            display: block;
                            width: 100%;
                        }

                        h3 {
                            color: var(--color_p);
                        }

                        p {
                            color: var(--color_p);
                        }

                    }
                }

            }

            .caja.left {
                left: 0;
            }

            .caja.right {
                left: 50%;
            }

            .left {
                &::after {
                    content: '';
                    @include caja_abs_top(10px, 10px, 30px,t);
                    right: -10px;
                    border-radius: 50%;
                    border: 10px solid var(--color_p);
                    z-index: 1;
                }
            }

            .right {
                &::after {
                    content: '';
                    @include caja_abs_top(10px, 10px, 28px,t);
                    left: -10px;
                    border-radius: 50%;
                    border: 10px solid var(--color_p);
                }
            }
        }
    }
}